server:
  port: 8080
  frontend:
    baseUrl: ${FRONTEND_URL}
    loginUrl: ${server.frontend.baseUrl}/login
    finishRegisterUrl: ${server.frontend.baseUrl}/finish-register
    oauth2RedirectUrl: ${server.frontend.baseUrl}/process-oauth2
    forgottenPasswordUrl: ${server.frontend.baseUrl}/forgotten-password
  backend:
    baseUrl: ${BACKEND_URL}

spring:
  config:
    import: "classpath:rate-limiter.yaml"
  servlet:
    multipart:
      max-file-size: 20MB
      max-request-size: 20MB
  datasource:
    url: ${MYSQL_URL}
    username: ${MYSQLUSER}
    password: ${MYSQLPASSWORD}
    driver-class-name: com.mysql.cj.jdbc.Driver
  jpa:
    generate-ddl: false
    hibernate:
      ddl-auto: update
    properties:
      hibernate:
        dialect: org.hibernate.dialect.MySQLDialect
  security:
    jwt:
      secret-key: ${JWT_SECRET}
      expiration: ${JWT_EXPIRATION} # a day
      refresh-token:
        expiration: ${REFRESH_TOKEN_EXPIRATION} # 7 days
    oauth2:
      resourceserver:
        opaquetoken:
          introspection-uri: https://www.googleapis.com
          client-id: ${GOOGLE_CLIENT_ID}
          client-secret: ${GOOGLE_CLIENT_SECRET}
    mail:
      host: smtp.gmail.com
      port: 465
      protocol: smtps
      username: ${GMAIL_USERNAME}
      password: ${GMAIL_PASSWORD}
      admin: ${GMAIL_USERNAME}
      properties:
        mail:
          transport:
            protocol: smtps
          smtps:
            auth: true
            starttls:
              enable: true
            timeout: 8000

  # --- R2 Configuration for S3Client (Auto-configured) ---
  cloud:
    aws:
      credentials:
        access-key: ${R2_ACCESS_KEY_ID}
        secret-key: ${R2_SECRET_KEY}
      s3:
        # Use your R2 Account ID variable here
        endpoint: https://${R2_ACCOUNT_ID}.r2.cloudflarestorage.com
        path-style-access-enabled: true
      region:
        static: auto # R2 requires 'auto'

  # --- Custom R2 Properties (for S3Presigner bean) ---
  r2:
    bucket-name: ${R2_BUCKET_NAME} # The name of your bucket

    # These properties are read by the R2Properties class
    client:
      account-id: ${R2_ACCOUNT_ID}
      access-key: ${R2_ACCESS_KEY_ID}
      secret-key: ${R2_SECRET_KEY}

